html {
    height: 100%;
}

body {
    height: auto;
    width: auto;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

header {
    height: 80px;
    width: auto;
    text-align: left;
    padding-left: 20px;
}

nav {
    background-color: rgb(20, 218, 79);
    height: 40px;
    width: auto;
}

main {
    height: auto;
    width: auto;
    padding-top: 50px;
}

footer {
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: auto;
}

h1 {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    animation-name: example;
    animation-duration: 50s;
    animation-delay: 3s;
}

@keyframes example {
    0% {
        color: red;
        left: 0px;
        top: 0px;
    }
    25% {
        color: yellow;
        left: 200px;
        top: 0px;
    }
    50% {
        color: blue;
        left: 200px;
        top: 200px;
    }
    75% {
        color: green;
        left: 0px;
        top: 200px;
    }
    100% {
        color: red;
        left: 0px;
        top: 0px;
    }
}

p {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 20px;
}

h2 {
    color: whitesmoke;
    font-size: 30px;
}