    html {
        height: 100%;
    }
    
    body {
        height: auto;
        width: auto;
        background-color: rgb(0, 0, 0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }
    
    header {
        height: 80px;
        width: auto;
        text-align: left;
        padding-left: 20px;
        line-height: 200%;
    }
    
    .image2 {
        margin-left: 100px;
        position: absolute;
        bottom: 85%;
        right: 1px;
    }
    
    nav {
        background-color: rgb(20, 218, 79);
        height: 40px;
        width: auto;
    }
    
    main {
        background-image: url(images/laptooop.jpg);
        width: 100%;
        height: 400px;
        background-size: 100% 100%;
        height: 300px;
        width: 100%;
        padding-top: 100px;
        padding-right: 100px;
    }
    
    footer {
        background-color: rgb(0, 0, 0);
        height: auto;
        width: auto;
    }
    
    h1 {
        font-size: 150%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(255, 255, 255);
        animation-name: example;
        animation-duration: 20s;
        animation-delay: 3s;
        animation-iteration-count: infinite;
    }
    
    @keyframes example {
        0% {
            color: red;
            left: 0px;
            top: 0px;
        }
        25% {
            color: yellow;
            left: 200px;
            top: 0px;
        }
        50% {
            color: blue;
            left: 200px;
            top: 200px;
        }
        75% {
            color: green;
            left: 0px;
            top: 200px;
        }
        100% {
            color: red;
            left: 0px;
            top: 0px;
        }
    }
    
    p {
        color: rgb(255, 255, 255);
        text-align: center;
        margin-left: 200px;
        margin-right: 200px;
        font-size: 75%;
    }
    
    h2 {
        color: whitesmoke;
        font-size: 20px;
    }
    
    .image {
        height: auto;
        width: 100%;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: flex;
        -webkit-border-radius: 2px;
    }